*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.parent{
  height: 120vh;
  width: 99vw;
  position: relative;
  background-image: url(netflix\ img.jpg);
}

.overly{
  height: 120vh;
  width: 99vw;
  background-color: #0000007c;
  position: absolute;
}

/* .bgimg img{
  height: 850px;
  width: 99vw;
} */

.logo img{
  height: 30px;
  position: absolute;
  top: 25px;
  left: 300px;
}

.container{
  background-color: #000000b5;
  position: absolute;
  /* top: 120px; */
  top: 100px;
  left: 600px;
  padding: 20px 50px;
  color: #fff;
  border-radius: 2px;
  width: 350px;
}

h1{
  margin-top: 20px;
  margin-bottom: 15px ;
}

.form{
  margin-top: 20px;
}

.name-password input{
  width: 100%;
  padding: 8px;
  background-color: rgb(22, 24, 28);
  border: 1px solid #636161;
  margin-top: 10px;
  border-radius: 3px;
}

.button button{
  width: 100%;
  margin-top: 10px;
  padding: 8px;
  background-color: red;
  border: none;
  color: #fff;
  border-radius: 3px;
  font-weight: 700;
}

.or{
  margin: 10px 115px;
  color: #636161;
  font-size: 12px;
}

.submit input{
  background-color: #6f5a5a7c;
  color: #fff;
  font-weight: 700;
  width: 100%;
  padding: 8px;
  border-radius: 3px;
  border: none;
}

.fp-links {
  margin-top: 10px;
  margin-left: 75px;
  margin-bottom: 20px;
  
}

.fp-links a{
  color: #fff;
  font-size: 12px;
}

.checkbox label{
  font-size: 13px;
  left: 5px;
  margin-bottom: 10px;
}

.para{
  margin-top: 15px;
}
.para span{
  color: #b6b6b6;
  font-size: 13px;
}

.para a{
  color: #fff;
  font-size: 13px;
  text-decoration: none;
  font-weight: 700;
}

.p p{
  font-size: 9px;
  margin-top: 10px;
  color: #636161;
}

.a{
  margin-bottom: 55px;
}

.a a{
  color: rgb(80, 162, 245);
  font-size: 10px;
  margin-top: 5px;
}

footer{
  background-color: #161616;
  height: 230px;
  width: 100%;
  position: absolute;
  top: 670px;
  color: #ffffffb3;
  font-family: Helvetica, Arial, sans-serif;
}

footer span{
  margin: 35px 300px;
  font-size: 13px;
  display: inline-block;
  margin-right: 0;
}

footer a{
  color: #ffffffb3;
  font-size: 13px;
  text-decoration: none;
}

.faq{
  margin-left: 300px;
  margin-top: -20px;
  display: inline-block;
  position: absolute;
  top: 85px;
}
.faq a{
  font-size: 11px;
  text-decoration: underline;
}

.help{
  margin-top: -20px;
  margin-left: 500px;
}

.help a{
  font-size: 11px;
  text-decoration: underline;
}

.terms{
  margin-top: -20px;
  margin-left: 730px;
}

.terms a{
  font-size: 11px;
  text-decoration: underline;
}

.privacy{
  margin-top: -20px;
  margin-left: 950px;
}

.privacy a{
  font-size: 11px;
  text-decoration: underline;
}

.cookies{
  margin-top: 15px;
  margin-left: 300px;
}

.cookies a{
  font-size: 11px;
  text-decoration: underline;
}

.corporate{
  /* margin-top: 15px; */
  margin-left: 500px;
  margin-top: -20px;
}

.corporate a{
  font-size: 11px;
  text-decoration: underline;
}

.select{
  margin-top: 20px;
  margin-left: 300px;
}

.select select{
  background-color: #161616;
  color: #fff;
  border-radius: 4px;
  padding: 5px 8px;
}